<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Form details</title>
</head>

<body>
    <section class="form-info py-4 bg-secondary">
        <div class="container">
            <div class="text-center py-3">
                <h2 class="fw-bold fs-1 text-danger">Welcome to our store user data with MysQl</h2>
            </div>
            <div class="form-section">
                <form action="/submit-data" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Learn JavaScript"
                            aria-describedby="titleHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTitle" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="fname" placeholder="Enter the first name"
                            aria-describedby="titleHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTitle" class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="lname" placeholder="Enter the last name"
                            aria-describedby="titleHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTitle" class="form-label">Priority</label>
                        <select class="form-control" name="selectdata" aria-label="example">
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Descrition</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </section>



    <script src="/js/bootstrap.bundle.js"></script>

</body>

</html>