<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="container mt-5 py-4">
        <div class="text-center">
            <h1 class="fw-bold text-primary fs-1 mb-5">WELCOME TO OUR Register FORM</h1>
        </div>
    <form action="/register" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="exampleInputUsername" name="username" aria-describedby="usernameHelp" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>